@import "tailwindcss";

html { scroll-padding-top: 5rem; }

.grid-bg {
  background-image:
    linear-gradient(rgba(34,211,238,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34,211,238,0.06) 1px, transparent 1px);
  background-size: 40px 40px;
}
.text-glow {
  background: linear-gradient(90deg, #22d3ee, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-glow-white{
  background: linear-gradient(90deg, #feffff, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}